<div class= "d-flex  justify-content-center" >
  <h1>Hospital</h1><br>
    <a href="/appointments">
        <h4>Appointment</h4>
    </a><br>
    <a href="/doctors">
        <h4>Doctor</h4>
    </a>
    <a href="/patients">
        <h4>Patient</h4>
    </a>
    <a href="/wards">
        <h4>Ward</h4>
    </a>
    <a href="/nurses">
        <h4>Nurse</h4>
    </a>
    <!-- <a href="/payments">
        <h4>Billing</h4>
    </a> -->
</div>
